In [1]:
#import pandas library
import pandas as pd

#make an array
array = [2,4,6,8,10,12]

#create a series
series_obj =pd.Series(array)

#convert series object into array
arr = series_obj.values

arr

array([ 2,  4,  6,  8, 10, 12], dtype=int64)

In [5]:
#reshaping series
reshaped_arr = arr.reshape((3,2))

#show
reshaped_arr

array([[ 2,  4],
       [ 6,  8],
       [10, 12]], dtype=int64)

In [7]:
#import pandas library

import pandas as pd

#make an array
array = ["ankit","shauraya","shivangi","priya","jeet","ananya"]

#create a series
series_obj = pd.Series(array)

print("Given Series:\n", series_obj)

#convert series object into array
arr = series_obj.values

arr

Given Series:
 0       ankit
1    shauraya
2    shivangi
3       priya
4        jeet
5      ananya
dtype: object

array(['ankit', 'shauraya', 'shivangi', 'priya', 'jeet', 'ananya'],
      dtype=object)

In [11]:
#reshaping series
reshaped_arr = arr.reshape((2,3))

#show
print("After Reshaping: \n", reshaped_arr)

After Reshaping:
 [['ankit' 'shauraya' 'shivangi']
 ['priya' 'jeet' 'ananya']]

In [16]:
#create a simple dataframe

#importting pandas as pd
import pandas as pd

#creating a dataframe
df = pd.DataFrame({'A':['Raghav','Boby','Mina'],
                  'B':['Masters','Graduate','Graduate'],
                  'C':[27,23,21]})

df

        A         B   C
0  Raghav   Masters  27
1    Boby  Graduate  23
2    Mina  Graduate  21

In [17]:
# values can be an object or a list
df.pivot('A', 'B', 'C')

<ipython-input-17-790241475f3a>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  df.pivot('A', 'B', 'C')

B       Graduate  Masters
A
Boby        23.0      NaN
Mina        21.0      NaN
Raghav       NaN     27.0

In [22]:
# value is a list
df.pivot(index ='A', columns ='B', values =['C', 'A'])

              C                A
B      Graduate Masters Graduate Masters
A
Boby         23     NaN     Boby     NaN
Mina         21     NaN     Mina     NaN
Raghav      NaN      27      NaN  Raghav

In [3]:
#importing pandas library
import pandas as pd

#creating dataframe
df =pd.DataFrame({'Name':['Rohit','Sumit','Juli'],
                 'Gender':['Male','Male','Female'],
                 'Age':[45,36,23]})

print("Dataset")
print(df)
print("-"*40)

#categorizing in age groups
def age_bucket(age):
    if age <= 18:
        return "<18"
    else:
        return ">18"
df['Age Group'] = df['Age'].apply(age_bucket)

#calculating gender percenage
gender = pd.DataFrame(df.Gender.value_counts(normalize=True)*100).reset_index()
gender.columns = ['Gender','%Gender']
df = pd.merge(left=df,right=gender,how='inner',on=['Gender'])

#creating pivot table
table=pd.pivot_table(df,index=['Gender','%Gender','Age Group'],
                    values=['Name'],aggfunc={'Name':'count'})
#display table
print('Table')
print(table)

Dataset
    Name  Gender  Age
0  Rohit    Male   45
1  Sumit    Male   36
2   Juli  Female   23
----------------------------------------
Table
                            Name
Gender %Gender   Age Group
Female 33.333333 >18           1
Male   66.666667 >18           2